MONGO_URI=mongodb://ekvaldiviezo_db_user:gkyoHZMPNnmzOdmo@ac-djauvps-shard-00-00.vgbls5w.mongodb.net:27017,ac-djauvps-shard-00-01.vgbls5w.mongodb.net:27017,ac-djauvps-shard-00-02.vgbls5w.mongodb.net:27017/habitosApp?ssl=true&authSource=admin&retryWrites=true&w=majority
PORT=3001
JWT_SECRET=YOUR_SECRET_HERE